# By-product files
*.aux
*.log
*.pdf
*.out
*.toc

*.synctex.gz

# Images
*.PNG
*.png
*.jpg
*.JPEG

# Shell scripts
*.sh

# Makefiles
Makefile

# image directories
img/

# Others
*.py
